@model Compras.Models.Entities.AsientoContable

@{
    ViewData["Title"] = "Crear Asiento Contable";
}

<h1>Crear Asiento Contable</h1>

<h4>AsientoContable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="FechaInicio"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="FechaFin"></label>
                <input asp-for="FechaFin" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="IdCuenta"></label>
                <input asp-for="IdCuenta" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Descripcion"></label>
                <input asp-for="Descripcion" class="form-control" value="Asiento de Compras correspondiente al periodo " readonly />
            </div>
            <div class="form-group">
                <label asp-for="CuentaDB"></label>
                <select asp-for="CuentaDB" class="form-control">
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CuentaCR"></label>
                <select asp-for="CuentaCR" class="form-control">
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}