@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Compras</h1>
    <p>Seleccione un módulo al cual dirigirse en la parte superior.</p>
</div>
